<!DOCTYPE HTML>
<html lang="en">

{% set basename = "Geniuzes" %}
{% set github = "https://github.com/aaditgupta21/flask_portfolio" %}
<!--{% set twitter = "https://twitter.com/NighthawkCoding" %}-->
<!--{% set youtube = "https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" %}-->
<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            color: crimson;
            font-family: 'Inter', sans-serif;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{{basename}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                        <!--                        <a class="dropdown-item" href="https://portfolio.nighthawkcodingsociety.com/">Flask Portfolio</a>-->
                        <a class="dropdown-item" href={{ url_for('aadit') }}>Aadit</a>
                        <a class="dropdown-item" href={{ url_for('adi') }}>Adi</a>
                        <a class="dropdown-item" href={{ url_for('rohit') }}>Rohit</a>
                        <a class="dropdown-item" href={{ url_for('rohan') }}>Rohan</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MiniLabs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                        <!--                        <a class="dropdown-item" href="https://portfolio.nighthawkcodingsociety.com/">Flask Portfolio</a>-->
                        <a class="dropdown-item" href={{ url_for('week0journal') }}>Week 0 Journal</a>
                        <a class="dropdown-item" href={{ url_for('binary') }}>Binary</a>
                        <a class="dropdown-item" href={{ url_for('rgb') }}>RGB</a>
                        <a class="dropdown-item" href={{ url_for('binary7') }}>BinaryWeek7</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ basename }} | {{ project }} </title>
{% block meta %}

{% endblock %}
</head>

<body>
{% include "layouts/navbar.html" %}

{% block body %}
<div class="container-fluid content">
    {% block content %}{% endblock %}
</div>
{% endblock %}

</body>

{% block background %}
<style>
    html,body{
        background-color: mintcream;
    }

</style>
{% endblock %}



</html>