@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

:root {
  --yellow: #f1d483;
  --green: #9daf9b;
  --purple: #a59aaf;
  --lblue: #6084a3;
  --dblue: #2b425b;
  --gray: #363d47;
  --white: whitesmoke;
  --black: black;
  --grey: grey;
  --red: crimson;
  --offwhite: #F8FOE3;
}

.box {
  display: inline-block;
}

html,
body {
  margin: 0;
  height: 100%;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  background-color: var(--white);
  color: var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: black;
  width: 50%;
}
button{
  margin: 0 auto;
}

.dark-mode {
  background-color: var(--white);
  color: var(--black);
}

.rainbow-text {
  background-image: linear-gradient(to right, #BDD5EA, );
  -webkit-background-clip: text;
  text-align: center;
  font-family: 'Peralta', cursive;}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Peralta', cursive;
  color: #00A5CF;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
title {
  text-align: center;
  font-size: 80px;
}


a {
  color: black;
  margin-bottom: 60px"
}

.fa {
  font-size: 3em;
  letter-spacing: 1em;
  transition: all 0.2s;
  color: white;
}

.fa:hover {
  transform: translateY(10px);
}

.fa-github:hover {
  color: #000000;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  font-family: 'Peralta', cursive;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  color: black;
  font-size: 2.5em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 255);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.row {
  margin: auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--lblue);
}
.navbar {
  z-index: 1100;
}

.main-center {
  text-align: center !important;
  margin: 0 auto;
}
table,
td,
th {
  color: black;
  border-radius: 20%;
  border-color: black;
}


#playground {
  position: absolute;
  left: 32%;
}

#pinkbox {
  position: absolute;
  left: 8%;
  top: 25%;
  border: 5px solid black;
  border-radius: 20px;
}

#cars {
  position: absolute;
  left: 8%;
  top: 36%;
}

#tealbox {
  position: absolute;
  left: 8%;
  top: 65%;
  border: 5px solid black;
  border-radius: 20px;
}

#mcolors {
  position: absolute;
  left: 8%;
  top: 76%;
}

#cornflowerbox {
  position: absolute;
  right: 8%;
  top: 25%;
  border: 5px solid black;
  border-radius: 20px;
}

#dolls {
  position: absolute;
  right: 8%;
  top: 36%;
}

#limebox {
  position: absolute;
  right: 8%;
  top: 65%;
  border: 5px solid black;
  border-radius: 20px;
}

#additions {
  position: absolute;
  right: 8%;
  top: 76%;
}

p {
  font-size: 30px;
  font-family: 'Peralta', cursive;
  color: white;
}

title {
  color: black;
  text-align: center;
}
