:root {
  --yellow: #f1d483;
  --green: #9daf9b;
  --purple: #a59aaf;
  --lblue: #6084a3;
  --dblue: #2b425b;
  --gray: #363d47;
  --white: whitesmoke;
  --black: black;
  --grey: grey;
  --red: crimson;
  --offwhite: #F8FOE3;
}'

.box {
  display: inline-block;
}

html,
body {
  margin: 0;
  height: 100%;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  background-color: var(--white);
  color: var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
button{
  margin: 0 auto;
}

.dark-mode {
  background-color: var(--white);
  color: var(--black);
}

.rainbow-text {
  background-image: linear-gradient(to left, green, yellow, red);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60x;
  font-family: 'Inter', sans-serif;
}
title {
  text-align: center;
  font-size: 70px;
}
a {
  color: crimson;
}

.fa {
  font-size: 3em;
  letter-spacing: 1em;
  transition: all 0.2s;
  color: white;
}

.fa:hover {
  transform: translateY(10px);
}

.fa-youtube-play:hover {
  color: #cc0000;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-github:hover {
  color: #000000;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  font-family: Inter;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  color: black;
  font-size: 2.5em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 255);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.row {
  margin: auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--lblue);
}
.navbar {
  z-index: 1100;
}

.main-center {
  text-align: center !important;
  margin: 0 auto;
}
table,
td,
th {
  color: crimson;
}
p {
  color: white;
}

title {
  color: crimson;
  text-align: center;
}
