<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Aadit Gupta" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<p style="text-align: center; color: white; font-size: 60px; font-weight: 600">
  Aadit Gupta<br />
  Home Page
</p>
<div class="col-12 offset-lg-3" style="color: white">
  <p>Hello, {{name}}!</p>
</div>
<div class="col-12 offset-lg-3" style="color: white">
  <form action="/aadit" id="aadit" method="POST">
    <label for="name">Type a greeting name?</label>
    <input name="name" id="name" />
    <input type="submit" value="Enter Name" />
  </form>
</div>
<p align="center">
  <iframe
    width="1000"
    height="500"
    src="https://docs.google.com/document/d/e/2PACX-1vRkZHGrM8WTea-wpW6-BnMWkatiEHXfGxLf3qy1XwI4-xp5h_MrJIZk5zt9uaQEosD_hFS8xPGI6X-4/pub?embedded=true"
  ></iframe>
</p>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
<script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.halo.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.waves.min.js"></script>
<script>
  VANTA.WAVES({
    el: "body", // element selector string or DOM object reference
    color: 0x000000,
    waveHeight: 20,
    shininess: 50,
    waveSpeed: 1.5,
    zoom: 0.75,
  });
</script>
{% endblock %}
