<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block body %}
<script>
    function output(){
        var value1 = parseInt(document.getElementById('value1').value);
        var value2 = parseInt(document.getElementById('value2').value);
        document.getElementById('result').innerHTML = value1 + value2;
    }

</script>
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong style="font-size: 80px; color: #00A5CF; text-align: center">Easy Math!</strong></h1>
        </div>

        <!-- Input and Content -->
        <div style="text-align: center; font-size: 70px">
            <div class="col-md">
                <p class="setup"><strong style="color: black">{{addition.addition}}</strong></p>
            </div>
        </div>
        <form action={{url_for('addition')}}>
            <button>Next Question!</button>
        </form>
    </div>
</div>
<p id="result"> </p>
<label for="value1">Value 1</label>
<input  id="value1" type="text" />
</br>
<label for="value2">Value 2</label>
<input id="value2" type="text"/>
</br>
<input type="submit" onclick="output();">
<!--<div class="col-13">-->
<!--        <label for="value1">Value 1</label>-->
<!--        <input type="text" name="inputbox1" id="value1" />-->
<!--        </br>-->
<!--        <label for="value2">Value 2</label>-->
<!--        <input type="text" name="inputbox2" id="value2" />-->
<!--        </br>-->
<!--        <input type="submit" name="button" value="Go!" onclick="output();">-->
<!--        <p id="result"> </p>-->
<!--</div>-->
{% endblock %}