<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Easy Math! </strong></h1>
        </div>


        <!-- Input and Content -->
        <div style="text-align: center; color: #00A5CF; font-size: 70px">
            <div class="col-md">
                <p class="setup"><strong>{{addition.addition}}</strong></p>
            </div>
        </div>
        <form action={{url_for('addition')}}>
            <button>Refresh!</button>
        </form>
    </div>
    <table style="margin: 2%">
        <tr>
            <th>JSON Data</th>
        </tr>
        <tr>
            <td>{{addition}}</td>
        </tr>
    </table>

</div>
{% endblock %}
