<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

<h1 class="text-center">Animal Pictures and Sounds</h1>
<script>

    // var animalname = ['dog', 'cat'];

    var animalimg = [
        'static/img/animals/dog.jpg',
        'static/img/animals/cat.jpg',
        'static/img/animals/racoon.jpg',
        'static/img/animals/turkey.jpg',
        'static/img/animals/whale.jpg',
    ]

    var animalsound = [
        'static/img/animals/dog.mp3',
        'static/img/animals/cat.mp3',
        'static/img/animals/raccoon.mp3',
        'static/img/animals/turkey.mp3',
        'static/img/animals/whale.mp3',
    ]

    var aniAudio =[];

    function buildImages() {
        for (let i = 0; i < animalimg.length; i++) {
            aniAudio[i] = new Audio(animalsound[i]);
            let a = document.createElement("img");
            a.id = i;
            a.src = animalimg[i];
            a.width = 600;
            a.height = 600;
            // a.alt = animalname[i];

            var prevId = 0;

            a.addEventListener("click", function() {
                var prev_a = document.getElementById(prevId);
                prev_a.style.border = "";
                prev_a.style.borderRadius = "";
                aniAudio[prevId].pause();
                a.style.border = "10px solid red";
                a.style.borderRadius = "10px";

                aniAudio[a.id].play();
                prevId = a.id;
            })

            document.body.appendChild(a);
        }
    }

    buildImages();

</script>

{% endblock %}


