{% extends "layouts/base.html" %} {% block content %}

<div>
    <h1 class="rainbow-text">Playground!</h1>
</div>

<div style="color: indianred">
    <h4 style="text-align: center; font-size: 30px" >A site for kids to learn!</h4>
</div>

<img src="\static\playground3.png" alt="cartoonPlaygound" />


<div style="color: indianred">
    <h4 style="text-align: center">A Little About Our Website:</h4>

</div>


<div style="color: indianred" >
    <h5 style="text-align: center">Playground is an interactive and engaging website that challenges young minds</h5>

</div>

<div style="color: indianred" >
    <h5 style="text-align: center">to think outside the box and apply themselves in different situations. </h5>
</div>

<a href="/mcolor"><button>Match Colors!</button></a>
<a href="/car"><button>Trucks!</button></a>
<a href="/newtoys"><button>New Toys!</button></a>



<!--<img src="\static\groupphoto.jpg" alt="groupPhoto" />-->
<!--<style>-->

<!--    body {-->
<!--        background-image: url("/static/playground3.png") !important;-->
<!--        background-size:100% 100%;-->
<!--    }-->
<!--</style>-->

{% endblock %}