{% extends "layouts/base.html" %} {% block content %}
<br>
<div class="container">
    <h1 style="text-shadow: 7px 7px black; font-size: 100px; color: white; margin-bottom: 15px">Playground!</h1>
    <p id="cars">Pick a Car!</p>
</div>
<br>
<br>

<img src="\static\playground1.png" id="playground" alt="Playground"/>
<img src="\static\pink.jpg" id="pinkbox" alt="pinkbox" height="300" width="300">
<img src="\static\teal.png" id="tealbox" alt="tealbox" height="300" width="300">
<img src="\static\cornflower.png" id="cornflowerbox" alt="cornflowerbox" height="300" width="300">
<img src="\static\lime.png" id="limebox" alt="limebox" height="300" width="300">


{% endblock %}