{% extends "layouts/base.html" %} {% block content %}

<div class="container; center-block" style="color: crimson"></div>
<div class="row">
  <h1 style="font-size: 70px">New Toys</h1>
</div>
<div class="row">
  <h4 style="text-align: center">Checkout the latest new toys out there!</h4>
</div>

<br>
<script>

  function toytypecreativethinking() {
   const imageCR = ["https://m.media-amazon.com/images/I/515kAp4XiRL._AC_SL1000_.jpg",
     "https://m.media-amazon.com/images/I/91oKfKVZjHL._AC_SL1500_.jpg",
     "https://www.lego.com/cdn/cs/set/assets/blt892f38a4fd55edeb/75257.jpg?fit=bounds&format=jpg&quality=80&width=1500&height=1500&dpr=1",
     "https://m.media-amazon.com/images/I/71aYQI5JwBL._AC_SL1500_.jpg",
     "https://m.media-amazon.com/images/I/81dIEAgoytL._AC_SL1500_.jpg"];
    for(i=0;i<imageCR.length;i++){
      image='image'+i;
      document.getElementById(image).src=imageCR[i];
      document.getElementById(image).hidden = false;
    }
  }

  function toytypetoddler() {
    const imagetoddler = [
      "https://m.media-amazon.com/images/I/81+BZzxBkKL._AC_SL1500_.jpg",
      "https://i5.walmartimages.com/asr/50250727-4357-441d-9b85-f251b0036cec.5800e03cef5137ac7a5233862da3fa22.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFFg",
      "https://m.media-amazon.com/images/I/71eu11vr4SL._AC_SL1500_.jpg",
      "https://m.media-amazon.com/images/I/71Qb3JUulbL._AC_SL1500_.jpg",
      "https://images-na.ssl-images-amazon.com/images/I/714nPUqeYfL._AC_UL200_SR200,200_.jpg"];
    for (i = 0; i < imagetoddler.length; i++) {
      image = 'image' + i;
      document.getElementById(image).src = imagetoddler[i];
      document.getElementById(image).hidden = false;
    }
  }

    function toytype34() {
      const imagethreefour = ["https://m.media-amazon.com/images/I/71dzgVzVPHL._AC_SL1500_.jpg",
        "https://m.media-amazon.com/images/I/713P+z7ZphL._AC_SL1500_.jpg",
        "https://m.media-amazon.com/images/I/813Txvn-Q+L._AC_SL1500_.jpg",
        "https://m.media-amazon.com/images/I/81JZ5cOGdlL._AC_SL1500_.jpg",
        "https://m.media-amazon.com/images/I/71+pOq6UgfL._AC_SL1500_.jpg"];
      for (i = 0; i < imagethreefour.length; i++) {
        image = 'image' + i;
        document.getElementById(image).src = imagethreefour[i];
        document.getElementById(image).hidden = false;
      }
    }

    function toytype56() {
      const imagefivesix = ["https://m.media-amazon.com/images/I/71psp7NB9YL._AC_SL1500_.jpg",
        "https://i5.walmartimages.com/asr/3c58b072-80c6-4fe4-bd77-a3b8023a733a_3.d88f70ff6884621607fa48df1cda78b0.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF",
        "https://images.heb.com/is/image/HEBGrocery/001572315",
        "https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1603060988-41aKZpEZ2OL.jpg",
        "https://m.media-amazon.com/images/I/81I45ajAc8L._AC_SL1500_.jpg"];
      for (i = 0; i < imagefivesix.length; i++) {
        image = 'image' + i;
        document.getElementById(image).src = imagefivesix[i];
        document.getElementById(image).hidden = false;
      }
    }

</script>

<input type="button" onclick="toytypetoddler()" value="Toddler Toys"/>
<input type="button" onclick="toytype34()" value="Toys for 3-4 Years Old"/>
<input type="button" onclick="toytype56()" value="Toys for 5-6 Years Old"/>
<input type="button" onclick="toytypecreativethinking()" value="Creative Thinking"/>
<br>

<img src="https://www.iconsdb.com/icons/preview/white/square-xxl.png" id="image0" width="900" height="750" hidden="hidden">
<br>
<img src="https://www.iconsdb.com/icons/preview/white/square-xxl.png" id="image1" width="900" height="750" hidden="hidden">
<br>
<img src="https://www.iconsdb.com/icons/preview/white/square-xxl.png" id="image2" width="900" height="750" hidden="hidden">
<br>
  <img src="https://www.iconsdb.com/icons/preview/white/square-xxl.png" id="image3" width="900" height="750" hidden="hidden">
<br>
  <img src="https://www.iconsdb.com/icons/preview/white/square-xxl.png" id="image4" width="900" height="750" hidden="hidden">



{% endblock %}
