{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Rohan" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<p style="text-align: center; font-size: 60px; font-weight: 600;">Rohan Gaikwad<br> Home Page</p>
<div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: gilroy,serif;">
    <div class="col-0">
        <p>Hello, {{name1}}!</p>
    </div>
    <div class="col-0">
        <form action="/rohan" id="greet" method="POST" >
            <label for="name">WUSYANAME?</label>
            <input name="name" id="name">
            <input type="submit" value="press da button!">
        </form>
    </div>
    {#        <div class="col-12">#}
    {#            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >#}
    {#        </div>#}
</div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}

{% endblock %}
